<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <div id="page">
        <%- include("./partials/nav") %>
        <main>
            <div class="m-content">

                <article>
                    <hgroup>
                        <h1>404</h1>
                    </hgroup>
                    <P>Page not found</P>
                </article>
            </div>
        </main>

        <footer></footer>
    </div>
</body>

</html>