<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %> 

<body>
    <div id="page">
        <%- include("./partials/nav") %> 
        <main>
            <div class="m-content">

                <article>
                    <hgroup>
                        <h1>Welcome to emdidi TODO</h1>
                    </hgroup>
                    <P>Get started with emdidi TODO</P>
                </article>
            </div>
        </main>

        <footer></footer>
    </div>
</body>

</html>